{% extends "layouts/base.twig" %}
{% set pageName = 'Index' %}

{% block content %}
  <div class="o-page__item">
    <section class="c-box">
      <header class="c-box__header">
        <h1 class="c-box__heading">Vali mõõdud</h1>
      </header>
      <div class="c-box__content">
        <ul class="c-accordion" 
            aria-label="Vali bännerite mõõdud genereerimiseks" 
            role="tablist">
          <li class="c-accordion__item js-checkbox-group">
            <div class="c-accordion__header js-accordion-trigger"
                 aria-controls="accordion-1" 
                 aria-expanded="false" 
                 aria-selected="false" 
                 id="button-accordion-1" 
                 role="tab">
              <input type="checkbox" 
                   name="delfi" 
                   id="delfi" 
                   aria-controls="delfi-1 delfi-2 delfi-3">
              <label for="delfi">Delfi</label>
            </div>
            <div class="c-accordion__content"
                 id="accordion-1" 
                 aria-labelledby="button-accordion-1" 
                 aria-hidden="true" 
                 role="tabpanel">
              <ul class="c-checkboxlist">
                <li class="c-checkboxlist__item">
                  <input type="checkbox" name="delfi-1" id="delfi-1">
                  <label for="delfi-1">
                    <span class="c-checkboxlist__size">
                      300x250
                    </span>
                    <span>
                      - Lehepäis
                    </span>
                    <div class="c-checkboxlist__actions">
                      <span class="c-checkboxlist__action icon -preview">
                        <span class="u-visuallyhidden">Preview</span>
                      </span>
                      <div class="c-tooltip">
                        <img src="https://picsum.photos/g/300/250?image=0" alt="" class="c-tooltip__image">
                      </div>
                    </div>
                  </label>
                </li>
                <li class="c-checkboxlist__item">
                  <input type="checkbox" name="delfi-2" id="delfi-2">
                  <label for="delfi-2">
                    <span class="c-checkboxlist__size">
                      728x90
                    </span>
                    <span>
                      - Mobiil
                    </span>
                    <div class="c-checkboxlist__actions">
                      <span class="c-checkboxlist__action icon -preview">
                        <span class="u-visuallyhidden">Preview</span>
                      </span>
                      <div class="c-tooltip">
                        <img src="https://picsum.photos/g/300/250?image=1" alt="" class="c-tooltip__image">
                      </div>
                    </div>
                  </label>
                </li>
                <li class="c-checkboxlist__item">
                  <input type="checkbox" name="delfi-3" id="delfi-3">
                  <label for="delfi-3">
                    <span class="c-checkboxlist__size">
                      300x250
                    </span>
                    <span>
                      - Lehepäis
                    </span>
                    <div class="c-checkboxlist__actions">
                      <span class="c-checkboxlist__action icon -preview">
                        <span class="u-visuallyhidden">Preview</span>
                      </span>
                      <div class="c-tooltip">
                        <img src="https://picsum.photos/g/300/250?image=2" alt="" class="c-tooltip__image">
                      </div>
                    </div>
                  </label>
                </li>
              </ul>
            </div>
          </li>
          
          <li class="c-accordion__item js-checkbox-group">
            <div class="c-accordion__header js-accordion-trigger"
                 aria-controls="accordion-2" 
                 aria-expanded="false" 
                 aria-selected="false" 
                 id="button-accordion-2" 
                 role="tab">
              <input type="checkbox" 
                   name="google" 
                   id="google" 
                   aria-controls="google-1 google-2 google-3">
              <label for="google">Google</label>
            </div>
            <div class="c-accordion__content"
                 id="accordion-2" 
                 aria-labelledby="button-accordion-2" 
                 aria-hidden="true" 
                 role="tabpanel">
              <ul class="c-checkboxlist">
                <li class="c-checkboxlist__item">
                  <input type="checkbox" name="google-1" id="google-1">
                  <label for="google-1">
                    <span class="c-checkboxlist__size">
                      300x250
                    </span>
                    <span>
                      - Lehepäis
                    </span>
                    <div class="c-checkboxlist__actions">
                      <span class="c-checkboxlist__action icon -preview">
                        <span class="u-visuallyhidden">Preview</span>
                      </span>
                      <div class="c-tooltip">
                        <img src="https://picsum.photos/g/300/250?image=3" alt="" class="c-tooltip__image">
                      </div>
                    </div>
                  </label>
                </li>
                <li class="c-checkboxlist__item">
                  <input type="checkbox" name="google-2" id="google-2">
                  <label for="google-2">
                    <span class="c-checkboxlist__size">
                      728x90
                    </span>
                    <span>
                      - Mobiil
                    </span>
                    <div class="c-checkboxlist__actions">
                      <span class="c-checkboxlist__action icon -preview">
                        <span class="u-visuallyhidden">Preview</span>
                      </span>
                      <div class="c-tooltip">
                        <img src="https://picsum.photos/g/300/250?image=4" alt="" class="c-tooltip__image">
                      </div>
                    </div>
                  </label>
                </li>
                <li class="c-checkboxlist__item">
                  <input type="checkbox" name="google-3" id="google-3">
                  <label for="google-3">
                    <span class="c-checkboxlist__size">
                      300x250
                    </span>
                    <span>
                      - Lehepäis
                    </span>
                    <div class="c-checkboxlist__actions">
                      <span class="c-checkboxlist__action icon -preview">
                        <span class="u-visuallyhidden">Preview</span>
                      </span>
                      <div class="c-tooltip">
                        <img src="https://picsum.photos/g/300/250?image=5" alt="" class="c-tooltip__image">
                      </div>
                    </div>
                  </label>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        
      </div>
    </section>
    
    <button disabled id="download">
      <span>
        Koosta bännerid <small>(laadi alla .zip)</small>
      </span>
      <span class="icon -download" aria-hidden="true"></span>
    </button>
  </div>
  
  
{% endblock %}


{% block aside %}
{% endblock %}