{% extends "layouts/base.twig" %}
{% set pageName = 'Index' %}

{% block content %}
  
  <section class="c-box o-page__part">
    <header class="c-box__header">
      <h1 class="c-box__heading">Vali mõõdud</h1>
    </header>
    <div class="c-box__content">
      ldsf jf lsjdflsjfdlk sjlfj slfdj
    </div>
  </section>
  
{% endblock %}


{% block aside %}
{% endblock %}