{% extends "layouts/base.twig" %}
{% set pageName = 'Index' %}

{% block content %}
 
  <div class="o-page__item">
    <section class="c-box">
      <header class="c-box__header">
        <h1 class="c-box__heading">Vali mõõdud</h1>
      </header>
      <div class="c-box__content">
        ldsf jf lsjdflsjfdlk sjlfj slfdj

        <div class="c-checkbox">
          <input type="checkbox" id="cash_only" value="cash" name="offers">
          <label for="cash_only">Cash only</label>
        </div>
      </div>
    </section>
    
    <button disablefd>
      <span>
        Koosta bännerid <small>(laadi alla .zip)</small>
      </span>
      <span>pretend it's icon</span>
    </button>
  </div>
  
{% endblock %}


{% block aside %}
{% endblock %}