// Checkboxes

$form-checkbox__boradius: $global_border-radius;
$form-checkbox__tick-color: $color-light-grey;
$form-checkbox__bgcolor: $color-middle-grey;
$form-checkbox__bgcolor--selected: $color-middle-grey;

input[type="checkbox"] {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

input[type="checkbox"] + label {
  position: relative;
  
  // checkbox box
  &:before{
    content: '';
    display: inline-block;
    vertical-align: sub;
    height: 1.14em;
    width: 1.14em;
    margin-right: 1em;
    border-radius: $form-checkbox__boradius;
    background: $form-checkbox__bgcolor;
  }
  
  // checkbox tick
  &:after {
    content: '\e6c8';
    display: none;
    font-family: 'font-icons';
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $form-checkbox__tick-color;
  }
}

input[type="checkbox"]:checked + label {
  // checked checkbox box
  &:before {
    background: $form-checkbox__bgcolor;
  }
  
  // checked checkbox tick
  &:after {
    position: absolute;
    display: block;
    left: 0.3em;
    top: 50%;
    line-height: 1;
    transform: translateY(-50%);
  }
}

