// Checkboxes

$form-checkbox__boradius: $global_border-radius;
$form-checkbox__tick-color: $color-light-grey;
$form-checkbox__bgcolor: $color-middle-grey;
$form-checkbox__bgcolor--selected: $color-middle-grey;
$form-checkbox__height: 2.5rem;

input[type="checkbox"] {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

input[type="checkbox"] + label {
  line-height: 1;
  position: relative;
  cursor: pointer;
  
  // checkbox box
  &:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: $form-checkbox__height;
    width: $form-checkbox__height;
    margin-right: .86em;
    border-radius: $form-checkbox__boradius;
    background: $form-checkbox__bgcolor;
  }
  
  // checkbox tick
  &:after {
    content: '';
    display: none;
    height: .9rem;
    width: 1.6rem;
    border-left: .2rem solid $form-checkbox__tick-color;
    border-bottom: .2rem solid $form-checkbox__tick-color;
    
  }
}

input[type="checkbox"]:checked + label {
  // checked checkbox box
  &:before {
    background: $form-checkbox__bgcolor;
  }
  
  // checked checkbox tick
  &:after {
    position: absolute;
    display: block;
    left: .3em;
    top: .4em;
    border-radius: .1rem;
    transform: rotate(-45deg);
  }
}

input[type="checkbox"]:indeterminate + label {
  // indeterminate checkbox box
  &:before {
    background: $form-checkbox__bgcolor;
  }
  
  // indeterminate checkbox "tick"
  &:after {
    position: absolute;
    display: block;
    height: 1.6rem;
    width: 0;
    left: .75em;
    top: .3em;
    border-radius: .1rem;
    border-bottom: none;
    transform: rotate(-45deg);
  }
}

input[type="checkbox"]:focus + label {
  // focus checkbox box
  &:before {
    border: 1px solid $form-checkbox__tick-color;
  }
}