// Links

$clr-link: $color-red;

a {
  text-decoration: none;
  
  &:not([class]) {
    color: $clr-link;
    border-bottom: 1px solid; 
    transition: color .25s;
    
    &:hover {
      border-bottom: none;
      transition: color .25s;
    }
  }
  
  &:hover {
    color: inherit;
  }
}
